<robot name="test_robot">
  <link name="world"/>
  <link name="link_3508"/>
  <link name="link_mit_cheetah"/>
  <link name="link_end"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="link_3508"/>
  </joint>
  <joint name="joint_3508" type="continuous">
    <parent link="link_3508"/>
    <child link="link_mit_cheetah"/>
    <origin xyz="0 0 0.25"/>
  </joint>

  <joint name="joint_mit_cheetah" type="revolute">
    <axis xyz="0 1 0"/>
    <origin xyz="0.250 0 0"/>
    <limit effort="30" velocity="10" lower="-2.268" upper="2.268"/>
    <dynamics damping="0.0" friction="0.5"/>
    <parent link="link_mit_cheetah"/>
    <child link="link_end"/>
  </joint>

  <transmission name="joint_3508_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_3508">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="act_3508">
      <mechanicalReduction>1</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>

  <transmission name="joint_mit_cheetah_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_mit_cheetah">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <offset>1.759</offset>
    </joint>
    <actuator name="act_mit_cheetah">
      <mechanicalReduction>-3</mechanicalReduction>
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </actuator>
  </transmission>
</robot>