<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, auto, hero, engineer]"/>

    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="-0.06"/>
    <arg name="z_pos" default="0.06"/>

    <arg name="load_chassis" default="true"/>
    <arg name="load_gimbal" default="true"/>
    <arg name="load_shooter" default="true"/>
    <arg name="load_arm" default="true"/>
    <arg name="paused" default="false"/>

    <rosparam file="$(find rm_gazebo)/config/imus.yaml" command="load" if="$(arg load_gimbal)"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/$(arg robot_type)/$(arg robot_type).urdf.xacro
         load_chassis:=$(arg load_chassis) load_gimbal:=$(arg load_gimbal) load_shooter:=$(arg load_shooter)
         load_arm:=$(arg load_arm)
         use_simulation:=true roller_type:=simple
"/>

    <include  file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find rm_gazebo)/worlds/sentry.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>r
        <arg name="gui" value="true"/>
    </include>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description -urdf -model $(arg robot_type)"
          output="screen"/>

</launch>
