<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find rm_description)/urdf/balance/rubber_wheel.urdf.xacro"/>

    <!-- https://upload.wikimedia.org/wikipedia/commons/5/52/Wheelbase_and_Track.png -->
    <xacro:property name="wheel_base" value="0.405"/>
    <xacro:property name="wheel_z_offset" value="0"/>

    <xacro:macro name="chassis">

        <link name="base_link">
            <inertial>
                <mass value="4.595"/>
                <origin xyz="-0.000190 -0.000075 0.110987"/>
                <inertia ixx="0.126" ixy="-1.806e-6" ixz="1.142e-4" iyy="5.337e-2"
                         iyz="1.133e-4" izz="8.685e-2"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0.085" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://rm_description/meshes/balance/base.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0.018" rpy="0 0 0"/>
                <geometry>
                    <!--                    <mesh filename="package://rm_description/meshes/balance/base.stl" scale="0.001 0.001 0.001"/>-->
                    <box size="0.35 0.22 0.03"/>
                </geometry>
            </collision>
        </link>

        <xacro:rubber_wheel prefix="left" connected_to="base_link"
                            wheel_x_offset="0" wheel_y_offset="${wheel_base/2}"
                            wheel_z_offset="${wheel_z_offset}" mechanical_reduction="-0.166"/>
        <xacro:rubber_wheel prefix="right" connected_to="base_link"
                            wheel_x_offset="0" wheel_y_offset="${-wheel_base/2}"
                            wheel_z_offset="${wheel_z_offset}" mechanical_reduction="0.166"/>

    </xacro:macro>

</robot>
