<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar2d">
    <xacro:macro name="lidar2d" params="connected_to lidar_name simulation xyz:='0 0 0' rpy:='0 0 0' ">

        <!-- Lidar is fixed to the connected_to link -->
        <joint name="${lidar_name}_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}"/>
            <parent link="${connected_to}"/>
            <child link="${lidar_name}"/>
        </joint>

        <!-- Lidar link -->
        <link name="${lidar_name}">
            <inertial>
                <mass value="0.114"/>
                <origin xyz="0 0 0"/>
                <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                         iyy="0.001" iyz="0.0"
                         izz="0.001"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0.0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://rm_description/meshes/common/lds.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
                <geometry>
                    <cylinder length="0.0315" radius="0.055"/>
                </geometry>
            </collision>
        </link>

        <xacro:if value="${simulation}">
            <gazebo reference="${lidar_name}">
                <material>Gazebo/FlatBlack</material>
                <sensor type="ray" name="lds_lfcd_sensor">
                    <pose>0 0 0 ${pi/2} 0 ${pi/2}</pose>
                    <visualize>false</visualize>
                    <update_rate>5</update_rate>
                    <ray>
                        <scan>
                            <horizontal>
                                <samples>360</samples>
                                <resolution>1</resolution>
                                <min_angle>-2.0</min_angle>
                                <max_angle>2.0</max_angle>
                            </horizontal>
                        </scan>
                        <range>
                            <min>0.1</min>
                            <max>8</max>
                            <resolution>0.015</resolution>
                        </range>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.01</stddev>
                        </noise>
                    </ray>
                    <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
                        <topicName>scan</topicName>
                        <frameName>${connected_to}</frameName>
                    </plugin>
                </sensor>
            </gazebo>
        </xacro:if>

    </xacro:macro>
</robot>
