<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/>
    <arg name="load_chassis" default="true"/>
    <arg name="load_gimbal" default="true"/>
    <arg name="load_shooter" default="true"/>
    <arg name="load_arm" default="true"/>
    <arg name="roller_type" default="simple" doc="simple or realistic"/>

    <rosparam file="$(find rm_gazebo)/config/mimic_joint.yaml" command="load"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/${robot_type}/${robot_type}.urdf.xacro
         load_chassis:=$(arg load_chassis) load_gimbal:=$(arg load_gimbal) load_shooter:=$(arg load_shooter)
         load_arm:=$(arg load_arm) roller_type:=$(arg roller_type)"/>

    <!-- send fake joint values -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>

</launch>
