<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="engineer">
    <xacro:arg name="use_simulation" default="true"/>
    <xacro:arg name="roller_type" default="none"/>

    <xacro:include filename="$(find rm_description)/urdf/engineer/chassis.urdf.xacro"/>
    <xacro:chassis roller_type="$(arg roller_type)"/>

    <xacro:include filename="$(find rm_description)/urdf/engineer/arm.urdf.xacro"/>
    <xacro:include filename="$(find rm_description)/urdf/engineer/arm.transmission.xacro"/>
    <xacro:arm connected_to="base_link"/>
    <xacro:arm_transmission simulation="$(arg use_simulation)"/>
    <xacro:include filename="$(find rm_description)/urdf/engineer/hand.urdf.xacro"/>
    <xacro:hand connected_to="link5" xyz="0.039 0 0"/>

    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="rm_ros_control" filename="librm_robot_hw_sim.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>rm_gazebo/RmRobotHWSim</robotSimType>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>
