<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero">
  <xacro:arg name="load_chassis" default="true"/>
  <xacro:arg name="load_gimbal" default="true"/>
  <xacro:arg name="load_shooter" default="true"/>
  <xacro:arg name="load_gazebo" default="true"/>
  <xacro:arg name="use_rm_gazebo" default="false"/>
  <xacro:arg name="roller_type" default="realistic"/>

  <xacro:if value="$(arg load_chassis)">
    <xacro:include filename="$(find rm_description)/urdf/hero/chassis.urdf.xacro"/>
    <xacro:chassis roller_type="$(arg roller_type)"/>
  </xacro:if>

  <xacro:if value="$(arg load_gimbal)">
  </xacro:if>

  <xacro:if value="$(arg load_shooter)">
  </xacro:if>

  <xacro:if value="$(arg load_gazebo)">
    <xacro:if value="$(arg use_rm_gazebo)">
      <gazebo>
        <plugin name="rm_ros_control" filename="librm_robot_hw_sim.so">
          <robotNamespace>/</robotNamespace>
          <robotSimType>rm_gazebo/RmRobotHWSim</robotSimType>
        </plugin>
      </gazebo>
    </xacro:if>
    <xacro:unless value="$(arg use_rm_gazebo)">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>/</robotNamespace>
        </plugin>
      </gazebo>
    </xacro:unless>
  </xacro:if>

</robot>
