<?xml version="1.0" encoding="utf-8"?>
<robot>

    <transmission name="trans_upper_yaw_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="upper_yaw_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="upper_yaw_joint">
            <offset>3.021</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="trans_upper_pitch_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="upper_pitch_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="upper_pitch_joint">
            <offset>0.498</offset>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

</robot>
