<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="standard">

    <xacro:arg name="load_chassis" default="true"/>
    <xacro:arg name="load_gimbal" default="true"/>
    <xacro:arg name="load_shooter" default="true"/>
    <xacro:arg name="use_simulation" default="true"/>
    <xacro:arg name="roller_type" default="realistic"/>

    <xacro:if value="$(arg load_chassis)">
        <xacro:include filename="$(find rm_description)/urdf/standard/chassis.urdf.xacro"/>
        <xacro:chassis roller_type="$(arg roller_type)"/>
        <xacro:include filename="$(find rm_description)/urdf/common/imu.urdf.xacro"/>
        <xacro:IMU connected_to="base_link" imu_name="base_imu" simulation="true"
                   xyz="0.065 0.12 0.07"/>
        <xacro:include filename="$(find rm_description)/urdf/common/realsense_l515.urdf.xacro"/>
        <xacro:realsense_l515 connected_to="base_link" realsense_name="base_realsense"
                              simulation="$(arg use_simulation)"
                              xyz="0.228618 0 0.10845" rpy="0 0 0"/>
    </xacro:if>

    <xacro:if value="$(arg load_gimbal)">
        <xacro:include filename="$(find rm_description)/urdf/standard/gimbal.urdf.xacro"/>
        <xacro:include filename="$(find rm_description)/urdf/standard/gimbal.transmission.urdf.xacro"/>
        <xacro:gimbal simulation="$(arg use_simulation)"/>
    </xacro:if>

    <xacro:if value="$(arg load_shooter)">
        <xacro:include filename="$(find rm_description)/urdf/standard/shooter.urdf.xacro"/>
        <xacro:include filename="$(find rm_description)/urdf/standard/shooter.transmission.urdf.xacro"/>
    </xacro:if>

    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="rm_ros_control" filename="librm_robot_hw_sim.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>rm_gazebo/RmRobotHWSim</robotSimType>
            </plugin>
        </gazebo>
    </xacro:if>


</robot>
