<launch>
    <arg name="load_chassis" default="true"/>
    <arg name="load_arm" default="true"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/engineer/engineer.urdf.xacro
         load_chassis:=$(arg load_chassis)  load_arm:=$(arg load_arm) use_simulation:=false roller_type:=none"/>

    <rosparam file="$(find rm_base)/config/engineer.yaml" command="load"/>
    <include file="$(find rm_base)/launch/rm_base.launch"/>
</launch>