<launch>

  <rosparam file="$(find rm_base)/config/actuator_coefficient.yaml" command="load" ns="rm_base"/>
  <rosparam file="$(find rm_base)/config/engineer.yaml" command="load"/>

  <include file="$(find rm_description)/launch/engineer.launch">
    <arg name="load_chassis" value="false"/>
    <arg name="load_arm" value="true"/>
    <arg name="use_simulation" value="false"/>
    <arg name="use_rm_gazebo" value="false"/>
    <arg name="paused" value="false"/>
  </include>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="
        controllers/robot_state_controller
        controllers/joint_state_controller
"/>

  <node name="rm_base" pkg="rm_base" type="rm_base" respawn="false"/>

</launch>