<launch>
  <include file="$(find rm_description)/launch/engineer.launch">
    <arg name="load_chassis" value="false"/>
    <arg name="load_arm" value="true"/>
    <arg name="use_simulation" value="false"/>
    <arg name="use_rm_gazebo" value="false"/>
    <arg name="paused" value="false"/>
  </include>
  <rosparam file="$(find rm_base)/config/engineer.yaml" command="load"/>
  <include file="$(find rm_base)/launch/rm_base.launch"/>
</launch>