<launch>
    <arg name="load_chassis" default="true"/>
    <arg name="load_gimbal" default="true"/>
    <arg name="load_shooter" default="true"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/hero/hero.urdf.xacro
         load_chassis:=$(arg load_chassis) load_gimbal:=$(arg load_gimbal) load_shooter:=$(arg load_shooter)
         use_simulation:=false roller_type:=none
"/>
    <rosparam file="$(find rm_base)/config/hero.yaml" command="load"/>
    <include file="$(find rm_base)/launch/rm_base.launch"/>
</launch>