<launch>

  <arg name="model" default="$(find rm_description)/urdf/hero/base.urdf.xacro"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-z 0.5 -param robot_description -urdf -model base"/>

  <rosparam command="load" file="$(find urdf_sim_tutorial)/config/joints.yaml"/>

  <node name="r2d2_controller_spawner" pkg="controller_manager" type="spawner"
        args="front_left_wheel_controller front_right_wheel_controller
              back_left_wheel_controller back_right_wheel_controller"
        output="screen"/>
</launch>