<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hero">

    <xacro:arg name="load_chassis" default="true"/>
    <xacro:arg name="load_gimbal" default="true"/>
    <xacro:arg name="load_shooter" default="true"/>
    <xacro:arg name="camera_link" default="camera_link"/>
    <xacro:arg name="camera_optical_frame" default="camera_optical_frame"/>
    <xacro:arg name="use_simulation" default="true"/>
    <xacro:arg name="roller_type" default="realistic"/>

    <xacro:if value="$(arg load_chassis)">
        <xacro:include filename="$(find rm_description)/urdf/hero/chassis.urdf.xacro"/>
        <xacro:chassis roller_type="$(arg roller_type)"/>
        <xacro:if value="$(arg load_gimbal)">
            <xacro:include filename="$(find rm_description)/urdf/hero/gimbal.urdf.xacro"/>
            <xacro:include filename="$(find rm_description)/urdf/hero/gimbal.transmission.urdf.xacro"/>
            <xacro:include filename="$(find rm_description)/urdf/common/imu.urdf.xacro"/>
            <xacro:include filename="$(find rm_description)/urdf/common/camera.urdf.xacro"/>
            <xacro:camera_sensor xyz="0.05 0 -0.07" rpy="${pi} 0 -0.02" frame_id="$(arg camera_link)" parent="pitch"
                                 camera_sim="$(arg use_simulation)"/>
            <xacro:camera_optical_frame xyz="0.2527 0.0071 -0.0984" rpy="1.5486 -0.0025 1.600"
                                        frame_id="$(arg camera_optical_frame)" parent="pitch"
                                        camera_sim="$(arg use_simulation)"/>
            <xacro:IMU connected_to="pitch" imu_name="gimbal_imu" xyz="0.08 0. 0.08" rpy="0 0 -${pi/2}"/>

            <xacro:if value="$(arg load_shooter)">
                <xacro:include filename="$(find rm_description)/urdf/hero/shooter.urdf.xacro"/>
                <xacro:include filename="$(find rm_description)/urdf/hero/shooter.transmission.urdf.xacro"/>
            </xacro:if>
        </xacro:if>
    </xacro:if>

    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="rm_ros_control" filename="librm_robot_hw_sim.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>rm_gazebo/RmRobotHWSim</robotSimType>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>
