<?xml version="1.0" encoding="utf-8"?>
<robot>

    <transmission name="trans_trigger_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="trigger_joint_motor">
            <mechanicalReduction>-26.851</mechanicalReduction>
        </actuator>
        <joint name="trigger_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="trans_left_friction_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="left_friction_wheel_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="left_friction_wheel_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

    <transmission name="trans_right_friction_wheel_joint">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="right_friction_wheel_joint_motor">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="right_friction_wheel_joint">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
    </transmission>

</robot>
